/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

#mydata{

  margin-top: 15%;

 margin-left: 5%;
 /* margin-right: 5%; */
}

/* 
.cancel {
 color: #868686;
 cursor: pointer;
}
tr:nth-child(odd) {
 background-color: #ededed;
}

.cancel p {
 margin-top: 30px;
 font-size: 12px;

} */