<section class="page-align" id="footer">
    <div class="container-fluid " class="mydata">
         <div class="row">
    <h2>Add new Coupon</h2>
                <form action="/admin/addcouponsubmit" id="form" method="post">

        <div class="row mb-3 mt-5" id="normal-1">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Coupon Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" oninput="validateCoupenName()" id="coupenName" name="name">
                <span id="coupenName-error" style="color: red;"></span>
            </div>
        </div>
        <div class="row mb-3" id="normal-2">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Coupon Code/ID</label>
            <div class="col-sm-4">
                <input type="text"  class="form-control" oninput="validateCoupenCode()" name="code" id="coupenCode">
                                <span id="coupenCode-error" style="color: red;"></span>
                <p onclick="codeGenerator()" class="btn btn-primary" style="margin-top: 5px;">generate Code</p>
            </div>
        </div>


        <div class="row mb-3" id="start">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Start Date</label>
            <div class="col-sm-4">
                <input type="date" oninput="validatestartDate()" id="startDate" class="form-control" name="startDate">
                                <span id="startDate-error" style="color: red;"></span>
            </div>
        </div>

        <div class="row mb-3" id="end">
            <label for="inputPassword3" class="col-sm-2 col-form-label">End Date</label>
            <div class="col-sm-4">
                <input type="date"oninput="validateendDate()" id="endDate" class="form-control" name="endDate">
                                <span id="endDate-error" style="color: red;"></span>
            </div>
        </div>

{{!--

                        select cat by percentage or amount

--}}
   <div class="row mb-3"> 
            <label for="inputEmail3" class="col-sm-2 col-form-label">Type Of Redeem</label>
            <div class="col-sm-4" >
                    <select class="form-select" name="redeemType" id="redeemType" onchange="return typeSelector()"
                        aria-label="Default select example">
                        <option value="amount" selected>Amount</option>
                        <option value="percentage">%</option>
                    </select>
                </div>
      </div>


                

   
        <div class="row mb-3 mt-5" id="catPerc" style="display: none;">
            <label for="inputEmail3"  class="col-sm-2 col-form-label">Percentage</label>
            <div class="col-sm-4">
                <input type="number" oninput="validatePercentage()" onKeyPress="if(this.value.length==2) return false;" class="form-control" id="percentage" name="percentage">
                                <span id="percentage-error" style="color: red;"></span>
            </div>
        </div>

         <div class="row mb-3 mt-5" id="catAmount" >
            <label for="inputEmail3" class="col-sm-2 col-form-label">Amount</label>
            <div class="col-sm-4">
                <input type="number" oninput="validateAmount()" id="amount"   class="form-control" name="amount">
                                <span id="amount-error" style="color: red;"></span>

            </div>
        </div>

         <div class="row mb-3 mt-5" id="Total">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Total Coupens</label>
            <div class="col-sm-4">
                <input type="number" oninput="validateTotalCoupens()" class="form-control" id="total_coupens" name="total_coupens">
                                <span id="totalCoupens-error" style="color: red;"></span>

            </div>
        
        </div>

         <div class="row mb-3 mt-5" id="minimum">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Minimum  Purchase Amount</label>
            <div class="col-sm-4">
                <input type="number" oninput="validateMinimum()" class="form-control" id="minimumAmount" name="minimum">
                                <span id="minimum-error" style="color: red;"></span>
            </div>
        </div>


        <div class="row mb-3 mt-5" id="limit">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Maximum  Limit </label>
            <div class="col-sm-4">
                <input type="number" oninput="validateLimit()" class="form-control" id="limitAmount" name="limit">
                                <span id="limit-error" style="color: red;"></span>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>


    </form>
    
   

         </div>

    </div>
    

</section>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/admin/javascripts/product-validate.js"></script>
<script>
    function codeGenerator() {
        $.ajax({
            url: '/admin/generatecode',
            method: 'get',
            success: (response => {
                document.getElementById('coupenCode').value = response
            })
        })
    }


    function typeSelector(){
        const type = document.getElementById('redeemType').value
        if(type ==='percentage'){
            document.getElementById('catAmount').style.display = 'none'
            document.getElementById('catPerc').style.display = 'flex'
            
        }else if(type ==='amount'){
            document.getElementById('catPrec').style.display = 'none'

        }
    }

        function typeSelectors(){
        const type = document.getElementById('redeemType').value
        if(type ==='percentage'){
            document.getElementById('catPercs').style.display = 'flex'
            document.getElementById('catAmounts').style.display = 'none'
            
        }else if(type ==='amount'){
            document.getElementById('catPercs').style.display = 'none'
             {{!-- document.getElementById('catAmounts').style.display = 'flex' --}}

        }
    }
    

    function selector() {
        const selection = document.getElementById('select').value
        console.log(selection)
        if (selection == 'category') {
            {{!-- document.getElementById('normal-1').style.display = 'none' --}}
            {{!-- document.getElementById('normal-2').style.display = 'none' --}}

            document.getElementById('category').style.display = 'flex'
        } else if (selection == 'product') {
            document.getElementById('form').style.display = 'none'
            document.getElementById('product').style.display = 'block'
        } else if (selection == 'normal') {
            document.getElementById('normal-1').style.display = 'flex'
            document.getElementById('normal-2').style.display = 'flex'
            document.getElementById('category').style.display = 'none'
        }
    }
    function IdPass(id){
        console.log(id,">>>>>")
        document.getElementById('proId').value = id
    }
    
      $(document).ready(function () {
        $('#pro').DataTable({
          dom: 'Pfrtip'
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
{{!-- <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>  --}}