<section class="page-align" id="footer">
    <div class="container-fluid " id="mydata">
        <div class="row">
          <h2 class="mb-5 mt-0">Add New Product</h2>

             <!-- General Form Elements -->
              <form action="/admin/addProduct-submit" method="post" enctype='multipart/form-data' >
                <div class="row mb-3">
  <label for="inputText" class="col-sm-2 col-form-label fw-bold">Product Name</label>
  <div class="col-sm-4">
    <input type="text" name="ProductName" oninput="validateName()" id="ProductName" class="form-control">
    <span id="ProductNameError" style="color: red;"></span>
  </div>
</div>

<div class="row mb-3">
  <label class="col-sm-2 col-form-label fw-bold">Brand</label>
  <div class="col-sm-4">
    <select class="form-select" name="Company" aria-label="Default select example" required>
      <option selected disabled>Choose brand</option>
      {{#each brands}}
      <option value="{{this.brandName}}">{{this.brandName}}</option > 
      {{/each}}
    </select>
        <span id="brandError" style="color: red;"></span>

  </div>
</div>

                 <div class="row mb-3">
                  <label for="inputNumber"  class="col-sm-2 col-form-label fw-bold">MRP</label>
                  <div class="col-sm-4">
                    <input type="number" oninput="validateMRP()" id="MRP" name="MRP" id="MRP" class="form-control">
                        <span id="MRPerror" style="color: red;"></span>
                  </div>
                  <span id="mrp-error"></span>
                </div>

                <div class="row mb-3">
                  <label for="inputNumber"  class="col-sm-2 col-form-label fw-bold">Selling Price</label>
                  <div class="col-sm-4">
                    <input type="number" oninput="validatePrice()" id="Price" name="Price" class="form-control">

                  <span id="Price-error"></span>
                  </div>
                </div>
            <div class="row mb-3">
                <label  class="col-sm-2 col-form-label fw-bold">File Upload</label>
                <div class="col-sm-4 mb-3">
                    <input class="form-control" type="file" name="Image1"  id="formFile">
                </div>
              </div>

              <div class="row mb-3">
          <label class="col-sm-2 col-form-label fw-bold">File Upload</label>
          {{!-- <img style="width: 50px;" src="" alt="no"> --}}
          <div class="col-sm-4 mb-3">
            <input class="form-control" type="file" name="Image2" id="formFile">
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-form-label fw-bold">File Upload</label>
          {{!-- <img style="width: 50px;" src="" alt="no"> --}}
          <div class="col-sm-4 mb-3">
            <input class="form-control" type="file" name="Image3" id="formFile">
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-form-label fw-bold">File Upload</label>
          {{!-- <img style="width: 50px;" src="" alt="no"> --}}
          <div class="col-sm-4 mb-3">
            <input class="form-control" type="file" name="Image4" id="formFile">
          </div>
        </div>

                <div class="row mb-3">
                  <label for="inputDate" class="col-sm-2 col-form-label fw-bold">Manufacturing Date</label>
                  <div class="col-sm-4">
                    <input type="date" oninput="validatemanufacturingDate()" id="ManufacturingDate" name="ManufacturingDate" class="form-control">
                    <span id="ManufacturingDateError"></span>
                  </div>
                </div>
               <div class="row mb-3">
                  <label class="col-sm-2 col-form-label fw-bold">Category</label>
                  <div class="col-sm-4">
                    <select class="form-select"name="category" aria-label="Default select example" required>
                      <option selected>select Category</option>
                      {{#each categories}}
                      <option value="{{this.categoryName}}">{{this.categoryName}}</option>
                    {{/each}}
                    </select>
                  </div>
                </div>


              <div class="row mb-3">
                  <label for="inputNumber"  class="col-sm-2 col-form-label fw-bold">Size</label>
                  <div class="col-sm-4">
                    <input oninput="validateSize()" type="text" id="Size" name="Size" class="form-control">
                    <span id="Size-error"></span>
                  </div>
                </div>


                <div class="row mb-3">
                  <label for="inputNumber"  class="col-sm-2 col-form-label fw-bold">Color</label>
                  <div class="col-sm-4">
                    <input oninput="validateColor()" type="text" id="Color" name="Color" class="form-control">
                    <span id="Color-error"></span>
                  </div>
                </div>



                <div class="row mb-3">
                  <label for="inputNumber"  class="col-sm-2 col-form-label fw-bold">Stock</label>
                  <div class="col-sm-4">
                    <input type="number" oninput="validateStock()" id="Stock" name="Stock" class="form-control">
                    <span id="Stock-error"></span>
                  </div>
                </div>
                <div class="row mb-5">
                  <label class="col-sm-2 col-form-label fw-bold">Payment Options</label>
                  <div class="col-sm-10">
                    
                    
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox"  id="flexSwitchCheckCheckedDisabled" checked disabled>
                      <label class="form-check-label fw-bold" for="flexSwitchCheckCheckedDisabled">Online payment (mandidatory)</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" name="COD" value="true" id="true">
                      <label class="form-check-label fw-bold" for="flexSwitchCheckDefault">COD(optional)</label>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputPassword" class="col-sm-2 col-form-label fw-bold">Description</label>
                  <div class="col-sm-6">
                    <textarea class="form-control" oninput="validateDescription()" id="Description" name="Description" style="height: 100px"></textarea>
                    <span id="Description-error"></span>
                  </div>
                </div>


              <div class="row mb-3">
                  <label for="inputNumber"  class="col-sm-2 col-form-label fw-bold">KeyWord 1</label>
                  <div class="col-sm-4">
                    <input type="text" id="Keyword1" oninput="validatekeyWord1()" name="Keyword1" class="form-control">
                    <span id="Keyword1-error"></span>
                  </div>
                </div>

                          <div class="row mb-3">
                  <label for="inputNumber"  class="col-sm-2 col-form-label fw-bold">KeyWord 2</label>
                  <div class="col-sm-4">
                    <input type="text" id="Keyword2" oninput="validatekeyWord2()" name="Keyword2" class="form-control">
                    <span id="Keyword2-error"></span>
                  </div>
                </div>

                      <div class="row mb-3">
                  <label for="inputNumber"  class="col-sm-2 col-form-label fw-bold">KeyWord 3</label>
                  <div class="col-sm-4">
                    <input type="text" id="Keyword3" oninput="validatekeyWord3()" name="Keyword3" class="form-control">
                    <span id="Keyword3-error"></span>
                  </div>
                </div>



                <div class="row mb-3">
                  {{!-- <label class="col-sm-2 col-form-label">Submit Button</label> --}}
                  <div class="col-sm-4 col-form-label ">
                    <button type="submit" onclick="checkAll()" class="btn btn-primary">Add Product</button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->
        </div>
    </div>
</section>

<script src="/admin/javascripts/product-validate.js"></script>