<!-- ======= Header ======= -->
  <!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="/admin/adminDash" class="logo d-flex align-items-center">
      <img src="assets/img/logo.png" alt="">
      <span class="d-none d-lg-block">Mio Amore</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div><!-- End Logo -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle " href="#">
          <i class="bi bi-search"></i>
        </a>
      </li><!-- End Search Icon-->



      <li class="nav-item dropdown pe-3">

        <div class="dropdown">
          <button class="btn-dpn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Admin
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/admin/logout">Logout</a>
          </div>
        </div><!-- End Profile Dropdown Items -->
      </li><!-- End Profile Nav -->

    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

  <section>

    <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/adminDash">
          <i class="fa fa-users"></i><span>Dashboard</span>
        </a>

      </li><!-- End Dashboard Nav -->

     <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/allUsers">
          <i class="fa fa-users"></i><span>All Users</span>
        </a>

      </li><!-- End Users Nav -->

    <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/stocks">
          <i class="fa fa-inventory"></i><span>Stock</span>
        </a>

      </li><!-- End Stock Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/add-product">
          <i class="fas fa-inventory"></i><span>Add New Product</span>
        </a>

      </li><!-- End Add New Product Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/categories">
          <i class="fas fa-inventory"></i><span>Categories </span>
        </a>

      </li><!-- End  Categories  Nav -->
           <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/brands">
          <i class="fas fa-inventory"></i><span>Brands </span>
        </a>

      </li><!-- End  Brands  Nav -->

  <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/allorders">
          <i class="fas fa-orders"></i><span>Orders </span>
        </a>

      </li><!-- End  Categories  Nav -->
      



      {{!-- <li class="nav-item">
        <a class="nav-link collapsed" href="pages-login.html">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li><!-- End Login Page Nav --> --}}

      {{!-- <li class="nav-item">
        <a class="nav-link collapsed" href="pages-error-404.html">
          <i class="bi bi-dash-circle"></i>
          <span>Error 404</span>
        </a>
      </li><!-- End Error 404 Page Nav --> --}}

      {{!-- <li class="nav-item">
        <a class="nav-link collapsed" href="pages-blank.html">
          <i class="bi bi-file-earmark"></i>
          <span>Blank</span>
        </a>
      </li><!-- End Blank Page Nav --> --}}

    </ul>

  </aside><!-- End Sidebar-->
  </section>